<div class="task_pages">
  <div class="task_area">
    <table>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td class="title_td"><%= task.title %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task_path(task), method: :delete %></td>
          </tr>
          <tr>
            <td><hr><td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= form_for(@task) do |f| %>
      <div><%= f.text_field :user_id , value: @user.id , type: "hidden"%></div>
      <div><%= f.text_field :title, class: "title_text" %></div>
      <div><%= f.submit :class=>"create_btn" %></div>
    <% end %>
  </div>
</div>