<header>
    <% if logged_in? %>
        <p><%= current_user.name %></p>
    <% end %>
    <nav>
      <ul>
        <li><%= link_to "Task", tasks_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li>
            <a href="#" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
</header>